// COLORS
$primary-color: #000000;
$secondary-color: #000000;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #000000;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
