*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html {
  width: 100%;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-size: 16pt;
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 0;
}