.tech-stack-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5em;
    flex-wrap: wrap;
}
.list-item{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.list-item img{
    filter: invert(1);
    height: 3em;
}
.list-item p{
    opacity: .5;
}