:root{
  --dark:#000000;
  --light:#f7f7f3;
  --bright-purple : #BC6FF1;
  --purple: #892CDC;
  --dark-purple: #52057B;
}
.bright-purple{
  color: var(--bright-purple);
}
.purple{
  color: var(--purple);
}
.dark-purple{
  color: var(--dark-purple);
}
.dark{
  color: var(--dark);
}
.light{
  color: var(--light);
}
body{
  background-color: var(--dark);
  color: var(--light);
}
.bright-purple-bg{
  background-color: var(--bright-purple);
}
.purple-bg{
  background-color: var(--purple);
}
.dark-purple-bg{
  background-color: var(--dark-purple);
}
.dark-bg{
  background-color: var(--dark);
}
.light-bg{
  background-color: var(--light);
}
