.heroSection{
    display: grid;
    width: 100%;
    min-height: 100dvh;
    font-size: 4rem;
    place-items: center;
    color: var(--accent-color);
    overflow: hidden;
}
.bannerHolder{
    display: grid;
    width: 100%;
    place-items: center;
    position: relative;
}