.bannerContainer {
    position: absolute;
    --gap: 0em;
    display: flex;
    overflow: hidden;
    user-select: none;
    font-size: 1rem;
    gap: var(--gap);
    /* background-color: var(--accent-color); */
    color: var(--secondary-color);
    padding: .25em;
}
.bannerContent{
    animation: scroll 30s linear infinite;
    list-style: none;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
}

@keyframes scroll {
from {
    transform: translateX(0);
}
to {
    transform: translateX(calc(-100% - var(--gap)));
}
}